// Media Queries Sizes

$smartphone: 390px;
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$widerscreen: 1200px;

// Colores

$primary: #0f0;
$dark-primary: #008300;
$secondary: #252422;
$terciary: #403d39;
$gray: #ccc5b9;
$light-gray: #d3d3d3;
$white: #fff;
$black: #0b090a;
$text: #333;

$error: #ba181b;
$system: #ffd60a;

// Spacing

$separacion: 5rem;
